.top{
	height: 27em;
}
.row{
	margin-right: 0;
	
}
.project {
    width: 33.3%;
    height: 50%;
   
}
.project img{
	height: 50%;
	width: 50%;
	position: relative;
    left: 25%;
    top: 23%;

}
.project img:hover{
	transition: .3s transform;
	-webkit-transform: scale(.5,.5);

}
.container{

}

.row h1,h3,h4,p{
	margin-bottom: 0%;
	font-weight: 700;

}
h4,h1{

	font-family: cursive;
}
.MyProjects{
	display: flex;
    flex-wrap: wrap;
    height: 40em;
    background-color: #6bff6b;
}
.header,.MyProjects ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2098d1;
}
.mainheader li{
	float: right;
}
.header li{
	list-style: none;
}
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
li a:hover{
	
	border: solid white;
	text-decoration: none;
	color: white;
	    /* background-color: rgb(118, 154, 252); */
    border: solid 0.3px white;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.5s;
}
li ame{
	float:left;
	color: white;
}
body{
	overflow-x:hidden;
	
}

@media screen and (max-width:1000px) and (min-width:732px){
	.header{
		height: 50%;

	}
	.col-md-6{
		height: 50%;
	}
	
}


.contacts {
	background-color: rgba(0,0,0,0.8);
}
.profile img{
	margin:5%;
	border: solid 4px black;

}
.description{
	margin: 5%;
}
.contactME{
	color: white;
	margin: 5%;
}
.facebook{
	color: blue;
}
.linkdein{
	color: grey;
}
.btn{
	margin:5%;
}
.MENU{
	display: none;

}
.hide{
	display: none;
}
@media screen and (max-width:1021px){
	.visible{
		display: none;
	}
	.header p{
		    font-size: 1.5em;
    font-weight: 100;
    color: white;
    display: inline;
    position: relative;
    left: -12%;
    padding: 5%;
	}
	
	.row{
		font-size: 2em;
		font-weight: 100;
		line-height: 2em;

	}
	.top{
		height: 14em;
	}
	li a:hover{
	
	border: solid white;
	text-decoration: none;
	color: white;
	    /* background-color: rgb(118, 154, 252); */
    border: solid 0.3px white;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.5s;
}
	}
}
@media screen and (min-width:530px) and (max-width:980px){
	.top{
		height: 17em;
	}
	.MyProjects {
		height: 76em;


	}
	.MyProjects .project{
		display: block;
		width: 50%;
		height: 33.33%;
	}
}
@media screen and (max-width: 529px){
	.MyProjects {
		height: 122em;


	}
	.MyProjects .project{
		display: block;
		width: 100%;
		height:16.667%;
	}
	
	.MENU{
		display: block;
		font-size: 1em;
		font-family: cursive;
	}
	.MENU :hover{
		
	color: black;
	    /* background-color: rgb(118, 154, 252); */
    
	}
	.nav{
		display: none;
	}
	.content_after_menu_pressed{
		height: 13em;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		
	}
	.content_after_menu_pressed p {
		display: block; 
		list-style-type: none;
		color: white;
		text-align: center;
		position: relative;
		top:3%;

	}
	.contents{
		font-size: 19px;
		font-family: cursive;

	}
	.content_after_menu_pressed p a:hover{
		color: rgba(0,0,0,0.6);
		transition-duration: 0.3s;
		outline: none;

	}
	.content_after_menu_pressed a{
		color: white;

	}
	.content_after_menu_pressed a:focus,a:active{
		outline: 0;
	}
	.menu{
		display: inline-block;
		padding: 1%;

	}
	.menu-nav{
		width: 100%;
		 padding:  6px;
	}
	.menu-item{
    display: block;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: #5d5050 solid 1px;

	}
	.content_after_menu_pressed a{
		position: relative;
    display: inline-block;
    
    width: 100%;
    padding: 15px 6px;
   
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #CCC;
	}
	.menu-item a{
		width: 100%;
	}
	.content_after_menu_pressed a:hover{
		border-radius: 0;
    border: #5a5959;
    
    background-color: #5a5959;
}
@media screen and (max-width:375px){
	
	.row h1,h3,h4,h2,p{
		margin-left: 1%;
		font-weight: 0;
	}
	.header p{
		font-size: 1em;
	}
}

@media screen and (min-height: 1021px){
	h1,h2,h3,h4{
		font-size: 2em;
	}
	.top{
		height: 35em;

	}
	.text{
		position: relative;
		top: 15%;
	}

}
.show {
	display: block;
	transition-duration: 0.5s;
}

